<!-- What is this ? (Ask Shai) -->
<p id="notice"><%= notice %> </p>
<main id="view">
  <header class="d-block w-100">
    <h2 class="text-center">Choose a Trainer account</h2>
  </header>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th> Id </th>
          <th> Name </th>
          <th> Edit </th>
          <th> Select </th>
        </tr>
      </thead>
      <tbody><% @trainers.each do |trainer| %> <tr class="table-active">
          <td><%= trainer.id %> </td>
          <td><%= trainer.name %> </td>
          <td><%= link_to 'Edit', edit_trainer_path(trainer) %> </td>
          <td>
            <button v-on:click="selectTrainer(<%= trainer.id %>)" class=" btn btn-primary"> Select <%= trainer.name %> </button>
          </td>
        </tr><% end %> </tbody>
    </table>
  </section>
  <br><%= link_to 'New Trainer', new_trainer_path %>
</main>
<script src="/comps/trainers_index.js"></script>